In [ ]:
import numpy as np
import pandas as pd

In [9]:
amazon_reviews_raw = pd.read_csv(r'/mnt/d/Krishna/kaggle/Amazon_reviews/train.csv')

In [10]:
amazon_reviews_raw.columns = ['polarity', 'title', 'text']

In [11]:
amazon_reviews_raw.head()

,polarity,title,text
0,2,The best soundtrack ever to anything.,I'm reading a lot of reviews saying that this ...
1,2,Amazing!,This soundtrack is my favorite music of all ti...
2,2,Excellent Soundtrack,I truly like this soundtrack and I enjoy video...
3,2,"Remember, Pull Your Jaw Off The Floor After He...","If you've played the game, you know how divine..."
4,2,an absolute masterpiece,I am quite sure any of you actually taking the...

In [13]:
amazon_reviews_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3599999 entries, 0 to 3599998
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   polarity  int64
 1   title     object
 2   text      object
dtypes: int64(1), object(2)
memory usage: 82.4+ MB

In [14]:
amazon_reviews_raw.isnull().sum()

polarity      0
title       207
text          0
dtype: int64

In [23]:
amazon_reviews_raw[amazon_reviews_raw['title'].isnull()]

         polarity title                                               text
13264           1   NaN  Couldn't get the device to work with my networ...
26553           1   NaN  What separates this band from Evanescence (bes...
26826           2   NaN  Falkenbach returns with more of the Viking/Fol...
36597           2   NaN  I returned this because I received the same on...
37346           2   NaN  This book is a great fantasy. I love this amaz...
...           ...   ...                                                ...
3403350         1   NaN  It is not a game. It is only a memory cardIt w...
3455847         1   NaN  The sleeve is not bad, but the vacuum is worth...
3493131         2   NaN  Al Spath's diary is a must for all poker playe...
3565885         1   NaN  IBD should sell single issues for the iPad to ...
3575893         1   NaN  I got on a short story kick after reading Jhum...

[207 rows x 3 columns]

In [25]:
polarity = amazon_reviews_raw['polarity']
polarity

0          2
1          2
2          2
3          2
4          2
          ..
3599994    1
3599995    1
3599996    1
3599997    1
3599998    2
Name: polarity, Length: 3599999, dtype: int64